<div class="modal-dialog">
<div class="modal-content col-xs-16 col-ms-16 col-sm-10 bonito">
    <div class="modal-header">
        <button type="button" class="close" routerLink="/administrador">x</button>
        <label class="modal-title let">Registrar Usuario</label>
    </div>
 <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" >
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">       
    
    <div id='vg' class="form-group">
        <label class="normal a">Usuario</label>
        <input type="text" class="form-control b" maxlength="15" placeholder="Username" autofocus/>
    </div>
    <div id='vg' class="form-group">
        <label class="normal c">Tipo</label>
        <input class="d" name="group1" type="radio" value="Persona">
        <input class="e" name="group1" type="radio" value="Dependencia" checked>
        <label class="normal f" for="other">Persona</label>
        <label class="normal g" for="other">Dependencia</label>
    </div>
    <div id='vg' class="form-group">
        <label class="normal h">Nombre</label>
        <input class="form-control i" type="text" maxlength="25"  placeholder="Nombre Dependencia"/>
    </div>
    <div class="form-group">
        <label class="normal l" for="email">Correo electronico</label>
         <input type="text" class="form-control k" id="email" formControlName="email" ngModel name="email"
         required email placeholder="Introduzca su correo">
        
        </div>
    <div id='vg' class="form-group">
        <label class="normal j">Contraseña</label>
        <input class="form-control m" type="password" id="password" formControlName="password"  maxlength="15" placeholder="Password">
        
    </div>

  <div class="registrar n" align="center">
      <button type="submit" class="btn btn-primary color-btn2" [disabled]="!registroForm.valid">Registrar</button>
    </div> 
 </form>
 <p class="alert alert-danger x" *ngIf="erroresForm.email"> {{ erroresForm.email }}</p>
 <p class="alert alert-danger y" *ngIf="erroresForm.password"> {{ erroresForm.password }}</p>
</div>
</div>