*{
    margin:0px;
    padding:0px;
}


body{
    background-image: url("imagenes/o4.png");
    background-color: rgba(171, 191, 197, 0.52);
    background-position: center;
    margin:0px;
    padding:0px;
}

form {
    /*background-image: url("imagenes/a2.png");*/
    background-color: rgba(255, 255, 255, 0.3);
     width: 360px;
    border:1px solid rgba(238, 244, 247, 0.93);
    border-radius: 3px;
    box-shadow: insert 0 0 10px #484B4D;
    margin:50px auto;
}
form h1{
    text-align: center;
    color:#fff;
    font-weight: normal;
    font-size:40pt;
    margin:30px 0px;
    font-family: 'Lobster', cursive;
}
.checkbox input {
    position: relative;
    left:-1.5cm;
    top:0cm;
    padding:70px 20px;
    
    width: 30px;
    height: 15px;
    text-align:left;
}
.checkbox label{
    position: relative;
    left: -2cm;
    top:0cm;

}
.campos input{
   
    width: 280px;
    height: 35px;
    padding:0px 10px;
    margin:10px 30px;
    color:#0F0F0F;
    text-align: center;
}


form button{
 width: 130px;
 margin:20px 0px 30px 30px;
 height: 40px;
 

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5f97f1+0,3976ef+85 */
background: #5f97f1; /* Old browsers */
background: linear-gradient(to bottom, #5f97f1 0%,#3976ef 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f97f1', endColorstr='#3976ef',GradientType=0 ); /* IE6-9 */
border:1px solid #0890B9;
color:#fff;
box-shadow:0px 2px 0px #000;
border-radius:3px;
}

form button:hover{
    background: #056196;
}